*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
body{
    background-color: #4a5555;
}
h2{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem 0;
}
.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    width: 50%;
    padding: 2rem;
}
input{
    width: 80%;
    height: 50px;
    padding: 1.5rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.2rem;
    opacity: .7;
}
input:focus{
    border: 2px solid #8d9bd8;
    outline: none;
}
#add-btn{
    width: 20%;
    height: 50px;
    border: none;
    background-color: #8d9bd8;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    margin-left: 1rem;
    border-radius: .3rem;
    transition: all .3s;
    cursor: pointer;
}
#add-btn:hover{
    background-color: #7f8fcf;
}
.added-task{
    font-size: 1.5rem;
    margin: 1.5rem 0 .5rem 0;
    padding: 1rem;
    color: #fff;
    line-height: 2;
    width: 100%;
}
.taskInput{
    cursor: pointer;
    font-size: 1.5rem;
    text-align: left;
    margin: 1.2rem;
    padding-right: .3rem;
    border-bottom: 2px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: #e7e7e7;
    color: #000;
    padding: 1rem;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    margin-bottom: .4rem;
    font-weight: 700;
    font-size: 1.2rem;
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: #dfdede;
}
.completed{
    text-decoration: line-through;
}
footer{
    text-align: center;
    color: #fff;
    opacity: 0.4;
    margin-top: 5%;
    margin-bottom: .5rem;
    padding: 0 1.5rem;
}
@media (max-width: 830px){
    .box{
        width: 85%;   
    }
}
@media (max-width: 430px){
    h2{
        font-size: 2.8rem;
    }
    .box{
        width: 85%;   
        padding: 2rem 1rem;
    }
    input{
        width: 100%;
    }
    #add-btn{
        width: 30%;
        font-size: 1rem;
    }
}
@media (min-width: 900px){
    .added-task{
        width: 70%;   
    }
}
